/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

#main {
    /* Make sure the browser knows how to display the HTML5 main element. */
    display: block;
    background-color:#f2f8da;
}


/* STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}


/*sub {
    font-size: 70%;
    vertical-align: sub;
}

sup {
    font-size: 70%;
    vertical-align: super;
}*/

.circle {
     width: 8px;
     height: 8px;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
}

#canvas, .canvas{
	position:absolute	;
	display:block;
/*	z-index:0;
	width: 100%;
	height: 100%;*/
}
	
#boxes {
    width:70%;
    //height:80%;
    margin:0 auto 2rem auto;
    justify-content: space-between;   
}

img {
		margin:0 auto;
}
#hangmanQuiz {
    background-color: #f2f8da;
}
.hangman{
    width:100%;
    height: 13rem;
    background-color:rgb(81, 88, 106) ;
    border: 1px solid black;
    margin: 1rem auto;
    border-radius: 0.25rem;
}
.tip{
    height: 100%;
    width: 20%;
    //border: 1px solid white;
    color:rgba(255, 235, 59, 0.86);
    margin: 0.25rem;
}
.question-box {
    flex-grow: 1;
    order: 2;
    height:3rem;
    z-index:10;   
    overflow: hidden;
    background-color: rgb(37, 40, 48);
    color:#1bc98e;
    font-family: sans-serif; 
    padding: 0 ;
    display: flex;
    width:100%;
    opacity:10.5;
    filter:alpha(opacity=150);
}

.finish{
	opacity:1.0;
  filter:alpha(opacity=100);
	}
.question-box.hovered {
    background: #689f38;
}

.circle > p{
	 display: none;
}
.question-box > p {
   display: block;
   
   width:100%;
   height:100%;
   margin:0.25rem;
   
}
.inputDiv{
   display: flex; 
}
.input-clue p{
    word-break:break-all; 
    word-wrap:break-word; 

}
.input-clue img,.input-clue p{
    margin: auto 0;
}
.input-clue{
    color: #1bc98e;
    font-size: 1.2rem;
    height: 28%;
    display: flex;
    margin: 0.5rem;
}
.check-tip{
   width:20px;
    height:20px; 
    font-size: 1.5rem;
    color:rgba(255, 235, 59, 0.86);
    position: absolute;
    top:10px;
    right:10px;
}
.questionError-box{
    width:100%;
    height:20%;
    font-size: 1rem;
    color: rgb(230, 71, 89);
    margin: 0.5rem;
}
.input-answer{
	display:block;
	background-color:white;
	border: 1px solid #8CB3E4;
	width:50%;
	height:20%;
	font-size:1rem;
    font-style: italic;
    color:#1ca8dd;
    border-radius: 0.25rem;;
	//text-align: center;
    margin: auto;
	}
.question-box {
		margin: 0;
	}


#scoreDiv {
		display:flex;
		flex-direction:row-reverse;
		background-color:#f2f8da;
	}

#result {
    display: none;
    width: 80%;
    position: absolute;
    border: 8px solid #8CB3E4;
    background: #fff;
    z-index: 400;
    margin: 10%;
    padding: 1rem;
}

#result p {
    font-size: 2rem;
}

#score-display {
    margin: auto 0.5rem;
}

#btn-submit ,#btn-check{
    margin:  0.25rem;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 1.5rem;
    width: 4rem;
    border-radius: 0.25rem;
    text-align:center;
}

#btn-submit:hover ,#btn-check:hover{
    background-color: #ebebeb;
    border-color: #adadad;
}

.index{
	z-index:100;
	background-color:black;
	border-radius: 50px;
		
	color:white;
	text-align:center;
}

@media screen and (max-width: 46rem) {
		#main {
  		width:100%;
  		font-size:10px;
  	}
    .hangman {
        height: 10rem;
    }
    #boxes {
        margin: 0 auto;
        flex-wrap: wrap;
    }
 		
   .input-clue{
        font-size: 12px;
    }

    .question-box {
        height:2.4rem;
        width:100%;
        font-size: 11px;
    }
		
    #result p {
        font-size: 1rem;
    }

}
