<?xml version="1.0" encoding="iso-8859-1"?>
<match title='' numberofmemoryquestions= '4' numberofflipquestions= '10' backgroundimage='' backgroundname=''>
<passing-score>80</passing-score>
<pair>
<question>Enthalpy of combusion is the enthalpy change when...</question>
<answer>one mole of the substance is completely burnt, with all reactants and products in their standard states.</answer></pair>

<pair>
<question>The molar heat of vaporisation is the energy required to change...</question>
<answer> one mole of the substance from a liquid to a gas at its boiling point.</answer></pair>


<pair>
<question>Entropy is...</question>
<answer> the quantity that measures the amount of disorder in a system</answer></pair>

<pair>
<question>The enthalpy of formation is the enthalpy change when... </question>
<answer> one mole of the substance is formed from its elements, with all reactants and products in their standard states.</answer></pair>


<pair>
<question>Temperature...</question>
<answer>is proportional to the average kinetic energy of the particles.</answer></pair>

<pair>
<question>The molar heat of fusion is the energy required to change... </question>
<answer> one mole of the substance from a solid to a liquid at its melting point.</answer></pair>

<pair>
<question>Heat...</question>
<answer>is the sum of the kinetic energies of all the particles in a sample.</answer></pair>


<pair>
<question>Hess's law: the enthalpy change of a given chemical reaction...</question>
<answer>depends only on the states of the reactants and products and not on the way the reaction proceeds.</answer></pair>


<pair>
<question>A spontaneous process is...</question>
<answer> a rearrangement of particles from a less probable state to a more probable one.</answer></pair>

<pair>
<question>The specific heat capacity is the amount of heat energy required... </question>
<answer> to raise the temperature of one gram of the substance by one degree.</answer></pair>
</match>
